body { font-family:"Microsoft YaHei",Segoe UI,Tahoma,Arial,Verdana,sans-serif; font-size:14px; width:888px; margin:20px auto; background:#f9f9f9; }
a { color:#44f; text-decoration:none; }
p { padding:0; margin:16px 0;}
.clearer { clear:both; }
#sitename { float:left; font-size:28px; margin-top:14px; color:#333; text-shadow: 0 1px 0 #fff}
#header { height:64px; }
#navbar { float:right; }
#navbar ul, #navbar li { float:left; list-style:none; }
#navbar a { color:#44F; font-size:18px;  display:block; padding:10px 15px; }
#content { width:888px; margin:0 auto; }
#content h1 { font-weight:normal; font-size:24px; color:#333; text-shadow: 0 1px 0 #ffffff; }
#content .post_link { font-size:20px; }
#content .date { color:#aaa; padding-right:20px; text-shadow: 0 1px 0 #ffffff; }
#content .info { color:#aaa; }
#content .post_content { margin-bottom:1.625em; }
#footer { text-align:center; margin-top:40px; color:#888; }
pre, pre.code, pre.prettyprint { margin-bottom:18px; padding:10px !important; font-size:13px; background:#FBFCFF; color:#000; font-family: monospace; border:solid 1px #afafaf; }
pre * { font-family: monospace; }
