body { font-family:"Microsoft YaHei",Segoe UI,Tahoma,Arial,Verdana,sans-serif; font-size:14px; width:888px; margin:20px auto; background:#f9f9f9; line-height:20px; }
a { color:#44f; text-decoration:none; }
a:hover { color:#bc0000; }
p { padding:0; margin:16px 0;}
.clearer { clear:both; }

#sitename { float:left; font-size:28px; margin-top:14px; color:#333; text-shadow: 0 1px 0 #fff; }
#header { height:64px; }
#navbar { float:right; }
#navbar ul, #navbar li { float:left; list-style:none; }
#navbar a { color:#44F; font-size:18px;  display:block; padding:10px 15px; }
#navbar a:hover { color:#bc0000; }
#page_info { font-size:16px; margin-top:10px; color:#888; }
#page_info span { padding:4px; background:#bc0000; color:#fff; border-radius:3px; }
#content { width:888px; margin:0 auto; }

#content .post h1 { font-weight:normal; font-size:24px; color:#333; text-shadow: 0 1px 0 #ffffff; margin:0; padding:20px 0 10px 0; }
#content .post .tags { padding-bottom:20px; color:#888; font-size:11px; }
#content .post .tags a { color:#fff; background:#aaa; padding:2px 4px; margin-right:6px;  border-radius:3px; }
#content .post .tags a:hover { background:#bc0000; }
#content .post .content { margin-bottom:1.625em; }

#content .post_list { padding:10px 0; }
#content .post_list .post { padding-bottom:10px; }
#content .post_list .tags { padding-bottom:0; }

#footer { text-align:center; margin-top:40px; color:#888; }
pre, pre.code, pre.prettyprint { margin-bottom:18px; padding:10px !important; font-size:13px; background:#fff; color:#000; font-family: monospace; border:solid 1px #afafaf; }
pre * { font-family: monospace; }
